html,
body,
button {
  font-family: "Poppins", sans-serif;
}

.box-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container {
  background: linear-gradient(45deg, #e66465, #9198e5);
  min-height: 100vh;
  min-height: 100svh;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  margin-left: 5px;
}
